{
    "arrowParens": "always",
    "semi": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "endOfLine": "auto",
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 80,
    "jsxSingleQuote": true,
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "proseWrap": "always"
}
